<div class="container-fluid">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
	        {{ title }}
	      </a>
            </div>
        </div>
    </nav>
    <app-conversor></app-conversor>
</div>